html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: Open Sans;
}

.pager-buttons button {
  font-family: Open Sans;
}

.principal-header {
  width: 100%;
  height: 100%;
  background-image: url(../img/background/codding.jpg);
}

header .dark-background {
  height: calc(100% - 24px);
}

.dark-background {
  width: calc(100% - 24px);
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

header img {	
  width: 200px;
  border-radius: 360px;
}

header h1 {
  font-size: 60px;
  letter-spacing: 6px;
}

header h2 {
  font-size: 23px;
}

h1 {
  margin: 8px;
  margin-bottom: 0;
  text-align: center;
}

h2 {
  margin: 8px;
  text-align: center;
}

h3 {
  margin: 8px;
}

nav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 8px;
  margin-top: 24px;
}

a {
  text-decoration: none;
  color: unset;
  font-weight: bold;
}

p {
  color: #4c4c4c;
  font-size: 18px;
  text-align: justify;
  margin-top: 8px;
}

.my-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
}

.my-networks img {
  filter: grayscale(1);
  transition: 0.2s all;
  width: 50px;
  cursor: pointer;
  margin: 8px;
}

.my-networks img:hover {
  width: 55px;
}

.education-block, .project-block {
  display: flex;
  align-items: center;
}

.education-block img, .project-block img {
  height: 60px;
  margin: 12px;
  margin-left: 0;
}

.subtitle-1 {
  font-size: 15px;
  color: #4c4c4c;
}

.subtitle-2 {
  font-size: 13px;
  color: #4c4c4c;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  padding: 12px;
  width: 60%;
}

@media only screen and (max-width: 728px) {
  section {
    width: calc(100% - 24px);
  }
}

header, .skills-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

.skills-image {
  background-image: url(../img/background/codding-2.jpg);
  width: 100%;
}

.skills-image section {
  width: 80%;
}

.skill-list {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-ballon {
  width: 150px;
  height: 150px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 100px;
  background-image: url(../img/skills/react-native.png);
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 8px;
}

.skill-ballon div {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  user-select: none;
  transition: 0.5s all;
}

.skill-ballon div:hover {
  opacity: 1;
}

#html5 {
  background-image: url(../img/skills/html5.png);
}

#css3 {
  background-image: url(../img/skills/css3.png);
}

#js {
  background-image: url(../img/skills/js.png);
}

#nodejs {
  background-image: url(../img/skills/nodejs.png);
}

#reactjs {
  background-image: url(../img/skills/react.png);
}

#react-native {
  background-image: url(../img/skills/react-native.png);
}

#electron {
  background-image: url(../img/skills/electron.png);
}

#python {
  background-image: url(../img/skills/python.png);
}

#inkscape {
  background-image: url(../img/skills/inkscape.png);
}

#powerpoint {
  background-image: url(../img/skills/powerpoint.png);
}

.portfolio-p {
  text-align: center;
}

a {
  font-size: 105%;
}